/* Soluzione qui */

/* fix dimensione immagine mobile */
.recipe-video img{
	border: 0;
    width: 100%;
    object-fit: cover;
}

.recipe-video{
    height: auto;
}

/* modello tablet */

@media screen and (min-width: 768px){
    #topbar{
        justify-content: left;
    }

    main{
        padding: 40px;
    }

    .recipe-origin{
        display: inline-block;
    }

    .recipe-title h2{
        font-size: 31px;
    }

    .quick-notes ul{
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes li{
        width: 33%;
        font-size: 16px;
    }

    .social-networks .btn{
        width: calc(100% / 6);
    }

    .social-networks{
        padding: 0px 10px;
    }

    .ads{
        display: block;
    }

    .presentation img{
        float: left;
        margin-right: 10px;
    }
}

/* modello desktop */

@media screen and (min-width:992px) { 
    
    .recipe-title h2{
        font-size: 40px;
    }

    .recipe-video{
        width: 70%;
    }

    .recipe-info{
        width: 30%;
    }

    .recipe-card{
        display: flex;
    }

    .quick-notes ul{
        display: inline-block;
        flex-wrap: nowrap;
    }

    .quick-notes li{
        width: 100%;
    }

    .social-networks .label{
        display: inline-block;
    }

    footer{
        display: flex;
        justify-content: space-between;
    }

    address{
        text-align: left;
    }
}

/* Bonus */

@media screen and (min-width:576px){

    .presentation img{
        float: left;
        margin-right: 10px;
    }

    
}